<div class="mb-5 mt-2">
    <h4 class="text-center">Mantenimiento Plataforma</h4>
    <br>
    <div class="d-flex align-items-center justify-content-evenly pb-3">
        <a [routerLink]="'/registrar-plataforma'" class="btn btn-warning px-5">Registrar Plataforma</a>
        <button (click)="generarInforme()" class="btn btn-danger">Generar Informe PDF</button>
        <a [routerLink]="'/menu-admin'"  class="btn btn-success px-5">Menu Administrador</a>
    </div>

    <table id="datatable-spanish" class="table table-striped table-bordered py-2">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Plataforma</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of objPlataforma">
                <td class="text-center">{{ g.codPla }}</td>
                <td class="text-center">{{ g.plataforma }}</td>
                <td class="d-flex align-items-center justify-content-center">
                    <button (click)= "actualizarPlataforma(g.codPla)" class="btn btn-sm btn-primary me-2" data-title="Actualizar">
                        <i class="bi bi-gear-fill"></i>
                    </button>
                    <button (click)= "eliminarPlataforma(g.codPla)" class="btn btn-sm btn-danger" data-title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>