<div class="d-flex align-items-center justify-content-between mb-3">
    <a class="btn btn-danger" [routerLink]="['/inicio']"><i class="bi bi-chevron-left"></i> Regresar al catálogo</a>
    <h1 class="game-title">{{ objJuego.titJue }}</h1>
    <div class="fs-3">
        <span>Valoraciones </span>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-half"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span class="border-bottom border-success border-5 fw-bold">Descripción:</span>
        <p class="mt-3" style="text-align: justify;">{{ objJuego.desJue }}</p>      
    </div>
    <div class="col-md-4">
        <span class="border-bottom border-success border-5 fw-bold">Precio:</span>
        <p class="mt-3">S/. {{ objJuego.preJue }}</p>
        <span class="border-bottom border-success border-5 fw-bold">Fecha de lanzamiento:</span>
        <p class="mt-3">{{ objJuego.fecLanJue }}</p>
        <span class="border-bottom border-success border-5 fw-bold">Desarrollado por:</span>
        <p class="game-developer mt-3">{{ objJuego.juegoDesarrolladora.nomDes }}</p>
        <span class="border-bottom border-success border-5 fw-bold">Géneros:</span>
        <p class="game-genre mt-3">{{ objJuego.juegoGenero.nomGen }}</p>
        <span class="border-bottom border-success border-5 fw-bold">Se puede jugar en:</span>
        <p class="game-genre mt-3">{{ objJuego.juegoPlataforma.plataforma }}</p>
    </div>    
    <div class="col-md-4 text-center">
        <img *ngIf="objJuego.imagen" [src]="objJuego.imagen" alt="Portada Juego" [title]="objJuego.titJue" class="img-game">
    </div>
</div>    

