<!-- Cards -->
<div class="row my-3">
    <h4 class="mb-4">Disfruta de juegos online.</h4>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Bomber Friends</h5>
                <p class="card-text">Un mundo en batallas explosivas.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Bloxd.io</h5>
                <p class="card-text">Un juego parkour y plataformas.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Shell Shockers</h5>
                <p class="card-text">Soldado con apariencia de huevo.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Rush Team</h5>
                <p class="card-text">El objetivo es ganar.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal5">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Paper.io</h5>
                <p class="card-text">Conquistar territorios.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal6">
            <div class="icon">
                <i class="bi bi-joystick"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">State.io</h5>
                <p class="card-text">Estrategia en tiempo real .</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/bomber-friends' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/bloxd-io' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/shellshock-io' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/rush-team' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/paper-io' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal - Juego Online</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <iframe src='https://www.minijuegos.com/embed/state-io' class='w-100 vh-100' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>