<!-- Sección de Contáctanos -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">Contáctanos</h2>
                <p>Estamos aquí para responder a tus preguntas y comentarios. No dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>
                <ul class="list-unstyled">
                    <li>
                        <strong>Correo Electrónico:</strong> <a href="gamepedia@gamepedia.com"> gamepedia@gmail.com</a>
                    </li>
                    <br>
                    <li>
                        <strong>Teléfono:</strong> +51 432-456-789
                    </li>
                    <br>
                    <li>
                        <strong>Dirección:</strong> 123 Calle Principal, Arequipa, Peru
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Tu Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" placeholder="tucorreo@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="4" placeholder="Tu mensaje o pregunta"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
</section>
