<!-- Encabezado -->
<div class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Bienvenido a Gamepedia</h1>
        <p class="lead">Tu fuente definitiva para descubrir, aprender y disfrutar de tus juegos favoritos.</p>
        <a [routerLink]="['/inicio']" class="btn btn-light btn-lg">Explorar Juegos</a>
    </div>
</div>

<!-- Sección de Nosotros -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">Acerca de Nosotros</h2>
                <p>
                    En Gamepedia, estamos comprometidos a brindarte la mejor experiencia en el mundo de los videojuegos. Nuestra empresa se ha convertido en una fuente confiable de información y entretenimiento para jugadores de todas las edades y niveles de experiencia.
                </p>
                <p>
                    Nuestra misión es conectar a la comunidad de jugadores con recursos valiosos, reseñas imparciales, noticias emocionantes y una biblioteca en constante crecimiento de juegos de todas las plataformas. Queremos ser tu destino principal para explorar nuevos mundos, descubrir títulos clásicos y mantenerte al día con las últimas tendencias en la industria de los videojuegos.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/gift1.gif" alt="Acerca de Nosotros" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>